<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Justin (Jammin411) Wilson :: @ViewData["Title"]</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/Jammin411-favicon.png" type="image/png" />

    @RenderSection("Css", required: false)
</head>
<body>
    <div class="container body-content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="~/">
                    <img src="~/jammin411-favicon.png" alt="Jammin411 Logo" />
                </a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li id="navHome" class="nav-item">
                        <a id="linkHome" class="nav-link text-info" href="/">Home</a>
                    </li>
                    <li id="navResume" class="nav-item">
                        <a id="linkResume" class="nav-link text-info" href="/Home/Resume">My Resume</a>
                    </li>
                    <li id="navFavorites" class="nav-item">
                        <a id="linkFavorites" class="nav-link text-info" href="/Home/Favorites">Favorites</a>
                    </li>
                    <li id="navExamples" class="nav-item">
                        <a id="linkExamples" class="nav-link text-info" href="/Examples/Index">Examples</a>
                    </li>
                    <li id="navContact" class="nav-item">
                        <a id="linkContact" class="nav-link text-info" href="/Home/Contact">Contact Me</a>
                    </li>
                </ul>
            </div>
        </nav><br/>

        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col">
                    <p>&copy; 2018 - Jammin411</p>
                </div>
                <div class="col text-right">
                    <a href="https://www.linkedin.com/in/jammin411/" title="LinkedIn Profile" target="_blank"><img src="~/images/linked-in.png" class="social-icons" alt="Justin on LinkedIn" /></a>
                    <a href="https://twitter.com/Jammin411" title="Twitter Profile" target="_blank"><img src="~/images/twitter.png" class="social-icons" alt="Justin on Twitter" /></a>
                    <a href="https://www.youtube.com/channel/UCo5ARhyZvlF3i4Ah-YFm_hA" title="Youtube Channel" target="_blank"><img src="~/images/youtube.png" class="social-icons" alt="Justin on Youtube" /></a><br />
                </div>
            </div>            
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/js/site.js" type="text/javascript"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
