@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <div class="col">
        <h1 class="text-info">Address</h1>
        <address>
            Brownsville, TX 78526<br />
        </address>
    </div>
    <div class="col">
        <h1 class="text-info">Email</h1>
        <strong>Email:</strong> <a href="mailto:justin@jammin411.com">justin@jammin411.com</a>
    </div>
</div>