
@{
    ViewData["Title"] = "My Favorites";
}

<h1 class="text-info">Recent Favorites</h1>
<hr />
<div class="row">
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="~/images/boxshadows.PNG" alt="DataTables.net">
            <div class="card-body">
                <h5 class="card-title">Box Shadows</h5>
                <p class="card-text">
                    I found a Box Shadows CSS package that I really liked.  It is simple, easy to use and get up and running, and works on every 
                    element I tried it on.  Has a range of options as well as hover effects.  Highly extensible and is well documented.  
                </p>
                <a href="~/Examples/BoxShadows" class="btn btn-primary" target="_blank">Box Shadows Example</a>
            </div>
        </div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
</div><br /><br />

<h1 class="text-info">All Time Favorites</h1>
<hr />
<div class="row">
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="~/images/datatables.PNG" alt="DataTables.net">
            <div class="card-body">
                <h5 class="card-title">DataTables.net</h5>
                <p class="card-text">
                    One of my favorite go to javascript libraries.  It adds advanced interaction controls
                    to your HTML tables the free & easy way!
                </p>
                <a href="https://datatables.net/" class="btn btn-primary" target="_blank">DataTables.net</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="~/images/notifyjs.PNG" alt="DataTables.net">
            <div class="card-body">
                <h5 class="card-title">Notify JS</h5>
                <p class="card-text">
                    Notify.js is a jQuery plugin to provide simple yet fully customisable notifications.  It is easy to place a notification on any element as well
                    giving you all kinds of flexibility.
                </p>
                <a href="https://notifyjs.jpillora.com/" class="btn btn-primary" target="_blank">Notify JS</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="~/images/mcustomscrollbar.PNG" alt="DataTables.net" />
            <div class="card-body">
                <h5 class="card-title">Custom Scrollbars</h5>
                <p class="card-text">
                    Highly customizable custom scrollbar jQuery plugin. Features include vertical and/or horizontal scrollbar(s),
                    adjustable scrolling momentum, mouse-wheel (via jQuery mousewheel plugin), keyboard and touch support, ready-to-use themes and
                    customization via CSS, RTL direction support, option parameters for full control of scrollbar functionality.
                </p>
                <a href="http://manos.malihu.gr/repository/custom-scrollbar/demo/examples/complete_examples.html" class="btn btn-primary" target="_blank">Custom Scrollbars</a>
            </div>
        </div>
    </div>
</div>

