@{
    ViewData["Title"] = "My Resume";
}

<h1 class="text-info">Justin Wilson</h1>

<section>
    <div class="row">
        <div class="col">
            <h6>Office:  <a href="mailto:justin@jammin411.com">Email for Contact</a></h6>
            <h6>Mobile:  <a href="mailto:justin@jammin411.com">Email for Contact</a></h6>
            <h6>Brownsville, TX 78526</h6>
        </div>
        <div class="col text-right">
            <a href="https://www.linkedin.com/in/jammin411/" title="LinkedIn Profile" target="_blank"><img src="~/images/linked-in.png" class="social-icons" alt="Justin on LinkedIn" /></a>
            <a href="https://twitter.com/Jammin411" title="Twitter Profile" target="_blank"><img src="~/images/twitter.png" class="social-icons" alt="Justin on Twitter" /></a>
            <a href="https://www.youtube.com/channel/UCo5ARhyZvlF3i4Ah-YFm_hA" title="Youtube Channel" target="_blank"><img src="~/images/youtube.png" class="social-icons" alt="Justin on Youtube" /></a><br />

            <a href="mailto:justin@jammin411.com">Justin@Jammin411.com</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h3 class="text-info">Summary</h3>
        </div>
        <div class="col-9">
            I am an educated and experienced software developer who has worked in an assortment of fields including
            education, medical, and agriculture.  I pride myself on my professionalism and ability to effectively
            communicate my knowledge to others and am never afraid to speak up and share my expertise.
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h3 class="text-info">Skills and Abilities</h3>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col">
                    <ul>
                        <li>C#</li>
                        <li>HTML</li>
                        <li>
                            Javascript
                            <ul>
                                <li>Vanilla</li>
                                <li>jQuery</li>
                                <li>AngularJS</li>
                                <li>React</li>
                                <li>Vue.js</li>
                            </ul>
                        </li>
                        <li>Docker</li>
                        <li>
                            MSSQL
                            <ul>
                                <li>T-SQL</li>
                                <li>SSIS</li>
                            </ul>
                        </li>
                        <li>
                            .NET
                            <ul>
                                <li>.NET Core > 2.0</li>
                                <li>ASP.NET > 3.5</li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            CSS3
                            <ul>
                                <li>OOCSS</li>
                                <li>SASS</li>
                                <li>LESS</li>
                            </ul>
                        </li>
                        <li>Dapper ORM</li>
                        <li>Entity Framework</li>
                        <li>Linq</li>
                        <li>
                            Cloud
                            <ul>
                                <li>Azure</li>
                                <li>AWS</li>
                            </ul>
                        </li>
                        <li>
                            Natural Language Processing
                            <ul>
                                <li>Python (NLTK)</li>
                                <li>iKnow (Caché)</li>
                            </ul>
                        </li>
                        <li>PHP7</li>
                        <li>Java</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">
            <h3 class="text-info">Certifications</h3>
        </div>
        <div class="col-9">
            <img src="~/images/MCSD-App-Builder-2018.png" class="cert-icons" alt="MCSD: App Builder" />
            <img src="~/images/MCSE-Data-Management-and-Analytics.png" class="cert-icons" alt="MCSE: Data Management and Analytics" />
            <img src="~/images/MCSA-Web-Applications-2018.png" class="cert-icons" alt="MCSA: Web Applications" />
            <img src="~/images/MCSA-SQL-Server.png" class="cert-icons" alt="MCSA: SQL Server 2012/2014" /><br /><br />
            <ul>
                <li>Microsoft® Certified Solutions Developer:  App Builder</li>
                <li>Microsoft® Certified Solutions Expert:  Data Management and Analytics</li>
                <li>Microsoft® Certified Solutions Expert:  Business Intelligence</li>
                <li>Microsoft® Certified Solutions Associate:  Web Applications</li>
                <li>Microsoft® Certified Solutions Associate:  SQL Server 2012/2014</li>
                <li>Microsoft® Certified Professional</li>
            </ul>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">
            <h3 class="text-info">Education</h3>
        </div>
        <div class="col-9">
            <strong>Penn State University – Master of Computer Software Engineering</strong><br />
            Expected Graduation Date:  03-2019<br />
            Currently maintaining a 3.89 GPA<br /><br />

            <strong>Kaplan University – Bachelor of Computer Information Systems</strong><br />
            Graduated with a 3.56 GPA on the Dean’s List.<br />
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col"><h3 class="text-info">Experience</h3></div>
        <div class="col-9">
            <strong>Initiate Government Solutions June 2015 - Present</strong><br />
            Senior Information Architect<br />
            <ul>
                <li>
                    Designed, Developed, and Deployed Voogle Notes which is a web-based application that utilizes Natural Language 
                    Processing technology to help aid provider decision making for patient care by providing a user-friendly “Google-like” 
                    search capability for all clinical notes and structured data for a patient for a specified date range.
                </li>
                <li>
                    Architected and helped develop the VX130 application which compiles medical data from all 130 VA medical facilities 
                    into a single data warehouse which is then electronically transmitted to Cerner for ingestion into their Electronic Medical Record (EMR).
                </li>
                <li>
                    Ground up redesign of VINCI Central portal which has more than tripled the amount of daily usage when compared to the old site.  
                    The site now sees nearly 100,000 sessions from over 71,000 unique visitors which is nearly 80% of the total VINCI user population.
                </li>
            </ul>

            <strong>IDEA Public Schools March 2014 – June 2015</strong><br />
            Senior NetSQL Developer<br />
            <ul>
                <li>
                    I participated in the Race to the Top dashboard creation program which was awarded to the district to create ambitious, 
                    yet achievable, plans for implementing coherent, compelling, and comprehensive education reform.
                </li>
                <li>
                    Created a grade book application used by the entire district from grades K through 12 to quickly and accurately 
                    track student grades and achievements.  The application was based on the NIFDI Direct Instruction standards.
                </li>
            </ul>

            <strong>Tom Rowe & Associates April 2013 to March 2014</strong><br />
            Senior Software Engineer<br />
            <ul>
                <li>
                    Created a magazine management application that allowed clients to go online and manage their magazine layouts.  
                    Clients could link their products, choose layouts, and modify text associated with various elements of their advertisements.
                </li>
                <li>
                    Assisted in development of an in-store advertising kiosk that uses Android TV Box to broadcast custom messages and 
                    equipment inside the clients’ dealership.  Users were able to manage the system via an online interface.
                </li>
            </ul>
        </div>
    </div>
</section>


