
@{
    ViewData["Title"] = "Box Shadows CSS";
}

@section Css{
    <link rel="stylesheet" href="~/css/box-shadows.min.css">
}

<h1 class="text-info">Box Shadows CSS</h1>
<hr />

<div class="row">
    <div class="col">
        I stumbled across this package today and I found it very useful an interesting when you have a project that requires depth in the form of box shadows.  I have put
        together a few examples below of how the package works and some of the cool things I was able to do with it.  You can find the pacakge at:
        <a href="https://github.com/madeas/box-shadows.css#1-include-the-stylesheet" target="_blank" title="Box Shadows CSS">Box Shadows CSS</a>
    </div>
</div><br />

<h1 class="text-info">Examples</h1>
<hr />
<div class="row">
    <div class="col">
        <div class="bShadow" style="padding: 5px;">
            <h3>Default</h3>
            bShadow
        </div>
    </div>
    <div class="col">
        <div class="bShadow bShadow-10" style="padding: 5px;">
            <h3>10 pixel Shadow</h3>
            bShadow bShadow-10
        </div>
    </div>
    <div class="col">
        <div class="bShadow bShadow-10h" style="padding: 5px;">
            <h3>10px hover</h3>
            bShadow bShadow-10h
        </div>
    </div>
</div><br /><br />

<div class="row">
    <div class="col">
        <div class="bShadow-1" style="padding: 5px;">
            <h3>Shadow 1</h3>
            bShadow-1
        </div>
    </div>
    <div class="col">
        <div class="bShadow-2" style="padding: 5px;">
            <h3>Shadow 2</h3>
            bShadow-2
        </div>
    </div>
    <div class="col">
        <div class="bShadow-3" style="padding: 5px;">
            <h3>Shadow 3</h3>
            bShadow-3
        </div>
    </div>
</div><br /><br />

<div class="row">
    <div class="col">
        <div class="bShadow-4" style="padding: 5px;">
            <h3>Shadow 4</h3>
            bShadow-4
        </div>
    </div>
    <div class="col">
        <div class="bShadow-5" style="padding: 5px;">
            <h3>Shadow 5</h3>
            bShadow-5
        </div>
    </div>
    <div class="col">
        <div class="bShadow-6" style="padding: 5px;">
            <h3>Shadow 6</h3>
            bShadow-6
        </div>
    </div>
</div>

