
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-info">Recent Examples</h1>
<hr />
<div class="row">
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="~/images/boxshadows.PNG" alt="DataTables.net">
            <div class="card-body">
                <h5 class="card-title">Box Shadows</h5>
                <p class="card-text">
                    I found a Box Shadows CSS package that I really liked.  It is simple, easy to use and get up and running, and works on every
                    element I tried it on.  Has a range of options as well as hover effects.  Highly extensible and is well documented.
                </p>
                <a href="~/Examples/BoxShadows" class="btn btn-primary" target="_blank">Box Shadows Example</a>
            </div>
        </div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
</div><br /><br />